doctype html
html
    head
        title AppCat | 绿欣燕信

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        // Bootstrap core CSS
        link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
        // Bootstrap theme
        link(href='stylesheets/bootstrap-theme.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='stylesheets/theme.css', rel='stylesheet')
        script(src='//cdn.bootcss.com/jquery/3.1.1/jquery.js')
        script.
            // redirect to tag page.
            var tag_pack = function(pack_id) {
                // TODO redirect
                var name = $("#yourname")[0].value;
                var secret = $("#yoursecret")[0].value;
                var url = "/packing";
                window.location =url + "?pack_id=" + pack_id + "&name=" + name + "&secret=" + secret;
            };
    body(role='document')
        // Fixed navbar
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') AppCat 应用标注
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/') 主页
                        li
                            a(href='http://radar.pkuos.org/appcat.html' target="_blank") 分类查看

                // /.nav-collapse
        .container.theme-showcase(role='main')
            // Main jumbotron for a primary marketing message or call to action
            .jumbotron
                h1 你好，橙子!
                p
                p
                    | 这是一个应用类别标注网站，有47个packs(0~46)。蓝色代表无人标注，绿色代表1人标注，橙色代表已完成。
                p 首先填上你的名字，然后点击一个Pack就可以进行标注了。
                form.form-inline
                    .form-grou
                        input.form-control#yourname(type='name', placeholder='你的名字', required='', autofocus='')
                        input.form-control#yoursecret(type='secret', placeholder='Secret String', required='', autofocus='')
            .page-header
                h1 Packs
            .buttons
                each pack in packs
                    button.btn.btn-lg(class=pack.status, pack_id=pack.pack_id, onclick="tag_pack('" + pack.pack_id + "')") #{pack.pack_id}
            hr
            footer.footer
                .container
                    .row.footer-top
                        .col-sm-6.col-lg-6
                            h4
                                img(src='/WdjData/[%E4%BC%91%E9%97%B2%E6%97%B6%E9%97%B4]com.brainandbrain.burlymenatsea.png')
                            p
                                | 此处应该有
                                a(href='http://www.bootcss.com/') 橙子
                                | ，但是暂时logo还没有设计出来，所以暂时就随便找个图片冒充了，网站是
                                a(href='http://zablog.me/', target='_blank') 子昂
                                | 做的，谢谢。
                        .col-sm-6.col-lg-5.col-lg-offset-1
                            .row.about
                                .col-xs-3
                                    h4 关于
                                    ul.list-unstyled
                                        li
                                            a(href='/about/') 关于我们
                                        li
                                            a(href='/ad/') 广告合作
                                        li
                                            a(href='/links/') 友情链接
                                        li
                                            a(href='/hr/') 招聘事项
                                .col-xs-3
                                    h4 联系方式
                                    ul.list-unstyled
                                        li
                                            a(href='http://weibo.com/bootcss', title='Bootstrap中文网官方微博', target='_blank') 无
                                        li
                                            a(href='mailto:admin@bootcss.com') 无
                                .col-xs-3
                                    h4 旗下网站
                                    ul.list-unstyled
                                        li
                                            a(href='http://www.golaravel.com/', target='_blank') 无
                                        li
                                            a(href='http://www.ghostchina.com/', target='_blank') 无
                                .col-xs-3
                                    h4 赞助商
                                    ul.list-unstyled
                                        li
                                            a(href='http://www.ucloud.cn/', target='_blank') 无
                                        li
                                            a(href='https://www.upyun.com', target='_blank') 无
                    hr
                    .row.footer-bottom
                        ul.list-inline.text-center
                            li
                                a(href='http://www.miibeian.gov.cn/', target='_blank') 京ICP备11007151号
                            li 京公网安备11010802014953
