//
   Created by zach on 2017/1/15.

html
    head
        title redirect
        script.
            window.location="tagging?app_id=#{app_id}&name=#{name}&secret=#{secret}";
    body
        p 重定向中...